@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Inter:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-obsidian text-papyrus font-body overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

.gold-glow {
  filter: drop-shadow(0 0 8px rgba(209, 174, 118, 0.4));
}

.text-shadow-gold {
  text-shadow: 0 0 10px rgba(209, 174, 118, 0.3);
}

/* Papyrus Scroll Texture */
/* Papyrus Scroll Texture */
.bg-papyrus-texture {
  background-image: linear-gradient(rgba(161, 161, 162, 0.8), rgba(147, 147, 148, 0.8)), url('/src/assets/download.webp');
  background-color: #918265;
  /* Fallback color */
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 40px rgba(62, 39, 35, 0.2),
    0 10px 30px rgba(0, 0, 0, 0.5);
  /* Inner shadow for depth + outer shadow */
  border: 1px solid rgba(209, 174, 118, 0.3);
}

.text-ink {
  color: #3e2723;
}


:root {
  --color-ink: #3e2723;
}